body {
  width: 100%;
  background: #f4f4f4 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 0;
  margin: 0;
}

#wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgba(38, 42, 54, 0.815);
}

img {
  max-width: 100%;
}

#header {
  background: #fff;
  padding: 1.5em 2em;
  width: 100%;
  display: flex;
}

#header .main {
  margin-left: auto;
}

#header .links {
  width: 70%;
}

.links_item {
  font: normal normal normal 14px/20px Source Sans Pro;
  letter-spacing: 3.5px;
  color: #828282;
  text-transform: uppercase;
  opacity: 1;
  margin-left: 8px;
  margin-right: 8px;
}

.links_item a {
  border-left: 2px solid #eeeeee;
  padding-left: 2%;
}

#main {
  padding: 3em;
  flex: 2;
  order: 2;
  max-width: 50%;
}

.main_title a {
  font-weight: bold;
  padding-right: 10px;
  font: normal normal bold 16px/20px Source Sans Pro;
  letter-spacing: 2.8px;
  color: #3c3b3b;
  text-transform: uppercase;
  text-decoration: none;
}

.meta {
  text-align: right;
  font: normal normal 900 14px/20px Source Sans Pro;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  opacity: 1;
}

.meta a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.meta .author {
  color: #8e8e8e;
  text-decoration: underline;
  font-size: smaller;
}

.post {
  margin-bottom: 5%;
  width: 100%;
  padding-bottom: 6%;
  background: #fff;
  border: 1px solid #eeeeee;
  opacity: 1;
}

.post .header {
  height: 250px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-bottom: 1px solid #eeeeee;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding-left: 8%;
  padding-right: 8%;
}

.image.featured {
  display: flex;
  justify-content: center;
  padding-bottom: 10%;
  padding-top: 10%;
}

.post .header .title .secondary_title a {
  font: normal normal 900 28px/46px Source Sans Pro;
  letter-spacing: 9.24px;
  color: #3c3b3b;
  text-transform: uppercase;
  opacity: 1;
}

.post .header .title .paragraph {
  font: normal normal normal 14px/20px Source Sans Pro;
  letter-spacing: 3.92px;
  color: #8e8e8e;
  text-transform: uppercase;
  opacity: 1;
  padding-left: 0px;
  padding-right: 0px;
}

.post .author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 1.2em;
}

.meta {
  width: 200px;
  height: 81px;
  opacity: 1;
}

.meta author {
  display: flex;
  align-items: center;
}

.post .paragraph {
  font: normal normal normal 16px/30px Source Sans Pro;
  letter-spacing: 1.28px;
  color: #3c3b3b;
  opacity: 1;
  padding-left: 90px;
  padding-right: 90px;
}

.post .footer {
  width: 254px;
  height: 62px;
  background: #ffffff 0% 0%;
  border: 1px solid #eeeeee;
  opacity: 1;
  margin-left: 90px;
  margin-top: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post .footer a {
  color: var(--dark);
  font: normal normal bold 14px/20px Source Sans Pro;
  letter-spacing: 3.92px;
}

.post .button:hover {
  color: #918c8c;
}

#sidebar {
  flex: 1;
  max-width: 20%;
  padding: 3em;
}

.mini-post .image img {
  width: 100%;
  height: 100%;
}

.mini-post {
  border: 2px solid #eeeeee;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  margin-bottom: 10%;
}

.mini-post .header {
  display: flex;
  flex-direction: column;
  padding: 10%;
  flex-grow: 1;
}

.mini-post .header .title-and-date {
  display: flex;
  flex-direction: column;
}

.mini-post .tertiary_title {
  font: normal normal 600 14px/16px Source Sans Pro;
  letter-spacing: 3.92px;
  text-transform: uppercase;
  opacity: 1;
  max-width: 300px;
}

.mini-post .published {
  font: normal normal normal 12px/20px Source Sans Pro;
  letter-spacing: 1.44px;
  color: #808080;
  text-transform: uppercase;
  opacity: 1;
}

.mini-post .author {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.mini-post .author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.posts {
  display: flex;
  flex-wrap: wrap;
}

.posts div {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.posts span {
  padding-top: 5%;
  padding-bottom: 2%;
  max-width: 600px;
  min-width: 200px;
  border-bottom: 1px solid #e1e1e1;
}

.posts .header {
  display: flex;
  flex-direction: column;

  padding-left: 15px;
}

.posts .header .tertiary_title {
  font: normal normal bold 16px/20px Source Sans Pro;
  letter-spacing: 3px;
  opacity: 1;
  border: none;
  color: #3c3b3b;
}

.posts .published {
  font: normal normal normal 12px/10px Source Sans Pro;
  letter-spacing: 1.44px;
  color: #808080;
  opacity: 1;
  border: none;
}

.posts .image {
  display: block;
  width: 25%;
  margin-top: 10px;
  padding-right: 3%;
}

.posts .image img {
  width: 100px;
  height: auto;
}

.actions.pagination {
  text-align: left;
  justify-content: space-between;
}

.actions.pagination a {
  padding: 20px 30px;
  background: #f4f4f4 0% 0% no-repeat padding-box;
  border: 1px solid #e1e1e1;
  opacity: 1;
  font: normal normal bold 14px/20px Source Sans Pro;
  letter-spacing: 3.92px;
  color: #3c3b3b;
  text-transform: uppercase;
}

.disabled.button.large.previous {
  color: #3c3b3b9c;
  opacity: 10;
}

.button.large.next {
  color: #3c3b3b;
  opacity: 1;
  min-width: 50px;
}

.blurb {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blurb .secondary_title {
  font: normal normal bold 16px/20px Source Sans Pro;
  letter-spacing: 3.84px;
  color: #3c3b3b;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 20px;
}

.blurb .paragraph {
  font: 15px/30px Source Sans Pro;
  letter-spacing: 0px;
  color: #808080;
  opacity: 1;
  margin-bottom: 35px;
  text-align: justify;
}

.blurb .button {
  font: normal normal bold 14px/20px Source Sans Pro;
  letter-spacing: 3.92px;
  color: #3c3b3b;
  text-transform: uppercase;
  opacity: 1;
  padding: 15px;
  border: 1px solid #e1e1e1;
  opacity: 1;
}

.blurb a {
  font: normal normal bold 14px/20px Source Sans Pro;
  letter-spacing: 3.92px;
  color: #3c3b3b;
  text-transform: uppercase;
  opacity: 1;
}

@media screen and (max-width: 980px) {

  .menu {
    display: block;
  }

  #header {
    justify-content: center;
  }

  .links {
    display: none;
  }

  #main {
    padding: 2em;
    max-width: none;
    width: 100%;
  }

  #sidebar {
    order: 3;
    padding-left: 0px;
    flex: 1;
    max-width: none;
    width: 100%;
    padding: 2em;
  }

  .mini-posts {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .mini-post {
    width: 48%;
  }

  .mini-post .image img {
    width: 100%;
    height: auto;
  }

  .posts {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .posts span {
    width: 48%;
  }

  .actions.pagination {
    text-align: center;
  }

  .blurb {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

@media screen and (max-width: 610px) {

  .links {
    display: none;
  }

  .menu {
    display: block;
  }

  #main {
    flex-basis: 100%;
    padding: 1em;
  }

  .post {
    margin-bottom: 50px;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 20px;
  }

  .post .header {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .post .header .title .paragraph {
    padding: 10%;
  }

  .post .paragraph {
    padding: 10%;
  }

  #sidebar {
    padding: 1em;
    flex: 1;
    max-width: none;
    width: 100%;
  }

  .mini-posts {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }

  .mini-post {
    width: 100%;
  }

  .mini-post .image img {
    width: 100%;
    height: auto;
  }

  .posts {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }

  .posts span {
    width: 100%;
  }

  .actions.pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .blurb {
    padding-top: 50px;
    width: 100%;
  }
}